<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html">
<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">        <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Access Denied</title>
</head>
<body>


<div layout:fragment="content">

    <!-- Header -->
    <header>
        <!-- Jumbotron -->
        <div class="p-5 text-center bg-danger">
                <h1 class="mb-3">Access Denied</h1>
        </div>
        <!-- Jumbotron -->
    </header>
    <!-- Header -->

    <main class="container mt-5">

    </main>
</div>


</body>
</html>
