<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html">

        <head>
            <meta charset="UTF-8">
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
            <title>Employees List</title>
        </head>
        <body>

        <div layout:fragment="content">


        <!-- Header -->
        <header>



            <!-- Jumbotron -->
            <div class="p-5 text-center bg-light">
                <h1 class="mb-3">Employees List - Thymeleaf</h1>
            </div>
            <!-- Jumbotron -->
        </header>
        <!-- Header -->

        <main class="container mt-5">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Address </th>
                    <th scope="col">Email </th>
                    <th scope="col">Phone </th>
                    <th scope="col">Recruitment Date</th>
                    <th scope="col">Job</th>
                    <th scope="col">Action </th>

                </tr>
                </thead>

                <tbody>
                <tr th:each="employee:${employeesJsp.content}">
                    <td th:text="${employee.id}"></td>
                    <td th:text="${employee.firstname}"></td>
                    <td th:text="${employee.lastname}"></td>
                    <td th:text="${employee.address}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.phone}"></td>
                    <td th:text="${employee.recruitmentDate}"></td>
                    <td th:text="${employee.job.getTitle()}"></td>

                    <td>
                        <a onclick="return confirm('Are you sure to delete this item ?')"
                            th:href="@{deleteEmployee(id=${employee.id},
                            page=${currentPage},
                            size=${size}
                            )}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    <a th:href="@{showEmployee(id=${employee.id})}"><i class="fas fa-edit"></i>
                    </a></td>

                </tr>
                </tbody>
            </table>

                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a th:class="${status.index==currentPage?'btn btn-primary':'btn'}"
                        th:href="@{employeesList(page=${status.index},size=${size})}"
                           th:text="${status.index}"

                        >
                        </a>
                    </li>
                </ul>
        </main>


        </div>

        </body>
</html>
